# Ignore all .env files
.env
.env.*


# dotenv environment variable files
.env
.env.base
.env.dev
.env.gitee
.env.kesmis
.env.kisip
.env.pro
.env.test


# Other files and directories to ignore
node_modules
.DS_Store
dist
dist-ssr
*.local
/dist*
*-lock.*
pnpm-debug